name: Update Activity Log

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch: {}

jobs:
  update-readme:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate activity block
        uses: TheDanniCraft/activity-log@v1
        with:
          GITHUB_USERNAME: ${{ github.repository_owner }}
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
          README_PATH: README.md
          COMMIT_MESSAGE: "chore(activity): auto-update activity log"

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore(activity): auto-update README.md"
          file_pattern: README.md


